flow.json
[{"id":"da6b952e.930468","type":"tab","label":"IO Setup","disabled":false,"info":"Make the initial GPIO setup in this flow."},{"id":"5a32f67f.161b58","type":"tab","label":"Wheater station","disabled":false,"info":""},{"id":"18c1d40f.099c2c","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"3b085795.501cd8"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"19534aad.8b7ce5","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"b05b8c78.811b9"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"626158cd.e37be8","type":"subflow","name":"Jupiter GPIO Pwm","info":"A node for writing the Jupiter Boards GPIO pins in PWM mode. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the PWM value (\"0\" to \"1023\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":100,"wires":[{"id":"fdeaa13f.9017"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0"}],"color":"#C0DEED","icon":"node-red/trigger.svg"},{"id":"757d0a48.be1034","type":"subflow","name":"Jupiter GPIO Read","info":"A node for reading the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\nIt has to be polled with any input (even empty) to provide a result.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: triggers the flow execution.\n\nOutputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3c6f4cb1.e08a14"}]}],"out":[{"x":520,"y":60,"wires":[{"id":"226ef90e.f219d6","port":0}]}],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"ff97f119.b4d11","type":"ui_group","z":"","name":"Gauges","tab":"fb47010.0f8ab","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7ac1aa4.1af238","type":"ui_group","z":"","name":"Charts","tab":"fb47010.0f8ab","order":2,"disp":true,"width":"6","collapse":false},{"id":"fb47010.0f8ab","type":"ui_tab","z":"","name":"Wheater Station","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"822379f7.8d6bd8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"69ffa124.656f6","type":"bme280rpi","z":"5a32f67f.161b58","name":"","bus":"1","address":"0x76","interval":1000,"x":80,"y":80,"wires":[["e2b00b2f.1fa4b8"]]},{"id":"1ccebaf5.ede305","type":"contrib-json","z":"5a32f67f.161b58","engine":"JSONSelect","command":"jq","expr":":root > .temperature","complete":"property","prop":"payload","name":"","x":410,"y":80,"wires":[["c10b3475.d8b8d8"]]},{"id":"e2b00b2f.1fa4b8","type":"json","z":"5a32f67f.161b58","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":80,"wires":[["1ccebaf5.ede305","da064a49.1702d8","2b353827.db9518"]]},{"id":"da064a49.1702d8","type":"contrib-json","z":"5a32f67f.161b58","engine":"JSONSelect","command":"jq","expr":":root > .humidity","complete":"property","prop":"payload","name":"","x":400,"y":200,"wires":[["aa67e3.1ae2082"]]},{"id":"2b353827.db9518","type":"contrib-json","z":"5a32f67f.161b58","engine":"JSONSelect","command":"jq","expr":":root > .pressure","complete":"property","prop":"payload","name":"","x":400,"y":320,"wires":[["da278462.734c48"]]},{"id":"46d6f370.851c2c","type":"ui_gauge","z":"5a32f67f.161b58","name":"","group":"ff97f119.b4d11","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":80,"wires":[]},{"id":"c081155b.0550c8","type":"ui_gauge","z":"5a32f67f.161b58","name":"","group":"ff97f119.b4d11","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":200,"wires":[]},{"id":"2b805d5c.847082","type":"ui_gauge","z":"5a32f67f.161b58","name":"","group":"ff97f119.b4d11","order":3,"width":0,"height":0,"gtype":"gage","title":"Barometric Pressure","label":"hPa","format":"{{value}}","min":"300","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":320,"wires":[]},{"id":"da278462.734c48","type":"calculator","z":"5a32f67f.161b58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"rdec","constant":"1","round":false,"decimals":"0","x":620,"y":320,"wires":[["2b805d5c.847082","fb6dcc43.c5173"]]},{"id":"aa67e3.1ae2082","type":"calculator","z":"5a32f67f.161b58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"rdec","constant":"2","round":false,"decimals":"0","x":620,"y":200,"wires":[["c081155b.0550c8","ecdf9243.05fd8"]]},{"id":"fb6dcc43.c5173","type":"ui_chart","z":"5a32f67f.161b58","name":"","group":"f7ac1aa4.1af238","order":3,"width":0,"height":0,"label":"Barometric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":360,"wires":[[]]},{"id":"c10b3475.d8b8d8","type":"calculator","z":"5a32f67f.161b58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"rdec","constant":"2","round":false,"decimals":"0","x":620,"y":80,"wires":[["46d6f370.851c2c","cadae6e.89e9018"]]},{"id":"cadae6e.89e9018","type":"ui_chart","z":"5a32f67f.161b58","name":"","group":"f7ac1aa4.1af238","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":120,"wires":[[]]},{"id":"ecdf9243.05fd8","type":"ui_chart","z":"5a32f67f.161b58","name":"","group":"f7ac1aa4.1af238","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":240,"wires":[[]]},{"id":"b74b2655.43e538","type":"exec","z":"18c1d40f.099c2c","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"3b085795.501cd8","type":"function","z":"18c1d40f.099c2c","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["b74b2655.43e538"]]},{"id":"b05b8c78.811b9","type":"function","z":"19534aad.8b7ce5","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["d2761cb2.788f9"]]},{"id":"d2761cb2.788f9","type":"exec","z":"19534aad.8b7ce5","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"fdeaa13f.9017","type":"function","z":"626158cd.e37be8","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["990ba36d.95068"]]},{"id":"990ba36d.95068","type":"exec","z":"626158cd.e37be8","command":"gpio pwm","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Pwm","x":510,"y":100,"wires":[[],[],[]]},{"id":"3c6f4cb1.e08a14","type":"function","z":"757d0a48.be1034","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\");\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["226ef90e.f219d6"]]},{"id":"226ef90e.f219d6","type":"exec","z":"757d0a48.be1034","command":"gpio read ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Read","x":390,"y":80,"wires":[[],[],[]]},{"id":"ed682bd3.6eb5f8","type":"subflow:19534aad.8b7ce5","z":"da6b952e.930468","name":"","env":[{"name":"pin","value":"7","type":"str"}],"x":310,"y":120,"wires":[]},{"id":"11b1295.4aed0d7","type":"inject","z":"da6b952e.930468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["ed682bd3.6eb5f8"]]},{"id":"25de66c3.7c115a","type":"inject","z":"da6b952e.930468","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["f5ad2aca.2ab408"]]},{"id":"b56334e6.8e8518","type":"subflow:18c1d40f.099c2c","z":"da6b952e.930468","name":"","env":[{"name":"pin","value":"7","type":"str"}],"x":490,"y":240,"wires":[]},{"id":"f5ad2aca.2ab408","type":"trigger","z":"da6b952e.930468","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":270,"y":240,"wires":[["b56334e6.8e8518"]]}]